In [1]:
# Import libraries 

import numpy as np # linear algebra
import pandas as pd # data processing, 

# Libraries for data visualization
import matplotlib.pyplot as pplt  
#import seaborn as sns
from pandas.plotting import scatter_matrix

# Import scikit_learn module for the algorithm/model: Linear Regression
from sklearn.linear_model import LogisticRegression
# Import scikit_learn module to split the dataset into train.test sub-datasets
from sklearn.model_selection import train_test_split 
# Import scikit_learn module for k-fold cross validation
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
# import the metrics class
from sklearn import metrics
# import stats for accuracy 
#import statsmodels.api as sm

In [2]:
#load the dataset provided
adult_data = pd.read_csv('./data/adult.data')
# salary dataset info to find columns and count of the data
adult_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
# Column names to be added
column_names = ['age',
                'workclass',
                'final weight',
                'education',
                'education num',
                'marital status',
                'occupation',
                'relationship',
                'race',
                'sex',
                'capital gain',
                'capital loss',
                'hours per week',
                'native country',
                'salary']
# Create DataFrame by assigning column names
df = pd.DataFrame(adult_data, columns = column_names)

# Add column names while reading a CSV file
df = pd.read_csv('./data/adult.data', names=column_names)

# Add column names to existing DataFrame
df.columns = column_names

# View result
df

,age,workclass,final weight,education,education num,marital status,occupation,relationship,race,sex,capital gain,capital loss,hours per week,native country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
#Finding the special characters in the data frame
df.isin([' ?']).sum(axis=0)

age                  0
workclass         1836
final weight         0
education            0
education num        0
marital status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital gain         0
capital loss         0
hours per week       0
native country     583
salary               0
dtype: int64

In [5]:
# code will replace the special character to nan and then drop the columns
df['workclass'] = df['workclass'].replace(' ?',np.nan)
df['occupation'] = df['occupation'].replace(' ?',np.nan)
df['native country'] = df['native country'].replace(' ?',np.nan)
#dropping the NaN rows now
df.dropna(how='any',inplace=True)

#running a loop of value_counts of each column to find out unique values.
for c in df.columns:
    print ("---- %s ---" % c)
    print (df[c].value_counts())

---- age ---
36    852
31    851
33    837
34    836
37    828
     ...
82      7
83      5
88      3
85      3
86      1
Name: age, Length: 72, dtype: int64
---- workclass ---
 Private             22286
 Self-emp-not-inc     2499
 Local-gov            2067
 State-gov            1279
 Self-emp-inc         1074
 Federal-gov           943
 Without-pay            14
Name: workclass, dtype: int64
---- final weight ---
203488    13
123011    12
113364    12
164190    12
121124    12
          ..
275818     1
318082     1
138342     1
158040     1
201490     1
Name: final weight, Length: 20263, dtype: int64
---- education ---
 HS-grad         9840
 Some-college    6678
 Bachelors       5044
 Masters         1627
 Assoc-voc       1307
 11th            1048
 Assoc-acdm      1008
 10th             820
 7th-8th          557
 Prof-school      542
 9th              455
 12th             377
 Doctorate        375
 5th-6th          288
 1st-4th          151
 Preschool         45
Name: education, dtype: int64
---- education num ---
9     9840
10    6678
13    5044
14    1627
11    1307
7     1048
12    1008
6      820
4      557
15     542
5      455
8      377
16     375
3      288
2      151
1       45
Name: education num, dtype: int64
---- marital status ---
 Married-civ-spouse       14065
 Never-married             9726
 Divorced                  4214
 Separated                  939
 Widowed                    827
 Married-spouse-absent      370
 Married-AF-spouse           21
Name: marital status, dtype: int64
---- occupation ---
 Prof-specialty       4038
 Craft-repair         4030
 Exec-managerial      3992
 Adm-clerical         3721
 Sales                3584
 Other-service        3212
 Machine-op-inspct    1966
 Transport-moving     1572
 Handlers-cleaners    1350
 Farming-fishing       989
 Tech-support          912
 Protective-serv       644
 Priv-house-serv       143
 Armed-Forces            9
Name: occupation, dtype: int64
---- relationship ---
 Husband           12463
 Not-in-family      7726
 Own-child          4466
 Unmarried          3212
 Wife               1406
 Other-relative      889
Name: relationship, dtype: int64
---- race ---
 White                 25933
 Black                  2817
 Asian-Pac-Islander      895
 Amer-Indian-Eskimo      286
 Other                   231
Name: race, dtype: int64
---- sex ---
 Male      20380
 Female     9782
Name: sex, dtype: int64
---- capital gain ---
0        27624
15024      337
7688       270
7298       240
99999      148
         ...
1639         1
6097         1
2538         1
1455         1
1086         1
Name: capital gain, Length: 118, dtype: int64
---- capital loss ---
0       28735
1902      194
1977      162
1887      155
1848       50
        ...
2080        1
4356        1
1539        1
1844        1
1411        1
Name: capital loss, Length: 90, dtype: int64
---- hours per week ---
40    14251
50     2718
45     1753
60     1405
35     1184
      ...
82        1
94        1
92        1
87        1
74        1
Name: hours per week, Length: 94, dtype: int64
---- native country ---
 United-States                 27504
 Mexico                          610
 Philippines                     188
 Germany                         128
 Puerto-Rico                     109
 Canada                          107
 India                           100
 El-Salvador                     100
 Cuba                             92
 England                          86
 Jamaica                          80
 South                            71
 China                            68
 Italy                            68
 Dominican-Republic               67
 Vietnam                          64
 Guatemala                        63
 Japan                            59
 Poland                           56
 Columbia                         56
 Iran                             42
 Taiwan                           42
 Haiti                            42
 Portugal                         34
 Nicaragua                        33
 Peru                             30
 Greece                           29
 France                           27
 Ecuador                          27
 Ireland                          24
 Hong                             19
 Cambodia                         18
 Trinadad&Tobago                  18
 Thailand                         17
 Laos                             17
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         12
 Scotland                         11
 Holand-Netherlands                1
Name: native country, dtype: int64
---- salary ---
 <=50K    22654
 >50K      7508
Name: salary, dtype: int64

In [6]:
# code will replace the special character to nan and then drop the columns
df['workclass'] = df['workclass'].replace(' ?',np.nan)
df['occupation'] = df['occupation'].replace(' ?',np.nan)
df['native country'] = df['native country'].replace(' ?',np.nan)
#dropping the NaN rows now
df.dropna(how='any',inplace=True)

#running a loop of value_counts of each column to find out unique values.
for c in df.columns:
    print ("---- %s ---" % c)
    print (df[c].value_counts())

---- age ---
36    852
31    851
33    837
34    836
37    828
     ...
82      7
83      5
88      3
85      3
86      1
Name: age, Length: 72, dtype: int64
---- workclass ---
 Private             22286
 Self-emp-not-inc     2499
 Local-gov            2067
 State-gov            1279
 Self-emp-inc         1074
 Federal-gov           943
 Without-pay            14
Name: workclass, dtype: int64
---- final weight ---
203488    13
123011    12
113364    12
164190    12
121124    12
          ..
275818     1
318082     1
138342     1
158040     1
201490     1
Name: final weight, Length: 20263, dtype: int64
---- education ---
 HS-grad         9840
 Some-college    6678
 Bachelors       5044
 Masters         1627
 Assoc-voc       1307
 11th            1048
 Assoc-acdm      1008
 10th             820
 7th-8th          557
 Prof-school      542
 9th              455
 12th             377
 Doctorate        375
 5th-6th          288
 1st-4th          151
 Preschool         45
Name: education, dtype: int64
---- education num ---
9     9840
10    6678
13    5044
14    1627
11    1307
7     1048
12    1008
6      820
4      557
15     542
5      455
8      377
16     375
3      288
2      151
1       45
Name: education num, dtype: int64
---- marital status ---
 Married-civ-spouse       14065
 Never-married             9726
 Divorced                  4214
 Separated                  939
 Widowed                    827
 Married-spouse-absent      370
 Married-AF-spouse           21
Name: marital status, dtype: int64
---- occupation ---
 Prof-specialty       4038
 Craft-repair         4030
 Exec-managerial      3992
 Adm-clerical         3721
 Sales                3584
 Other-service        3212
 Machine-op-inspct    1966
 Transport-moving     1572
 Handlers-cleaners    1350
 Farming-fishing       989
 Tech-support          912
 Protective-serv       644
 Priv-house-serv       143
 Armed-Forces            9
Name: occupation, dtype: int64
---- relationship ---
 Husband           12463
 Not-in-family      7726
 Own-child          4466
 Unmarried          3212
 Wife               1406
 Other-relative      889
Name: relationship, dtype: int64
---- race ---
 White                 25933
 Black                  2817
 Asian-Pac-Islander      895
 Amer-Indian-Eskimo      286
 Other                   231
Name: race, dtype: int64
---- sex ---
 Male      20380
 Female     9782
Name: sex, dtype: int64
---- capital gain ---
0        27624
15024      337
7688       270
7298       240
99999      148
         ...
1639         1
6097         1
2538         1
1455         1
1086         1
Name: capital gain, Length: 118, dtype: int64
---- capital loss ---
0       28735
1902      194
1977      162
1887      155
1848       50
        ...
2080        1
4356        1
1539        1
1844        1
1411        1
Name: capital loss, Length: 90, dtype: int64
---- hours per week ---
40    14251
50     2718
45     1753
60     1405
35     1184
      ...
82        1
94        1
92        1
87        1
74        1
Name: hours per week, Length: 94, dtype: int64
---- native country ---
 United-States                 27504
 Mexico                          610
 Philippines                     188
 Germany                         128
 Puerto-Rico                     109
 Canada                          107
 India                           100
 El-Salvador                     100
 Cuba                             92
 England                          86
 Jamaica                          80
 South                            71
 China                            68
 Italy                            68
 Dominican-Republic               67
 Vietnam                          64
 Guatemala                        63
 Japan                            59
 Poland                           56
 Columbia                         56
 Iran                             42
 Taiwan                           42
 Haiti                            42
 Portugal                         34
 Nicaragua                        33
 Peru                             30
 Greece                           29
 France                           27
 Ecuador                          27
 Ireland                          24
 Hong                             19
 Cambodia                         18
 Trinadad&Tobago                  18
 Thailand                         17
 Laos                             17
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         12
 Scotland                         11
 Holand-Netherlands                1
Name: native country, dtype: int64
---- salary ---
 <=50K    22654
 >50K      7508
Name: salary, dtype: int64

In [7]:
df

,age,workclass,final weight,education,education num,marital status,occupation,relationship,race,sex,capital gain,capital loss,hours per week,native country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
#Dropping based on uniquness of data from the dataset
#We only keep the catgorical data
df.drop(['age',
         'final weight',
         'education num',
         'hours per week',
         'capital gain',
         'capital loss',
         'native country'], axis=1, inplace=True)

# View result with only the categorical data
df

,workclass,education,marital status,occupation,relationship,race,sex,salary
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,<=50K
...,...,...,...,...,...,...,...,...
32556,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,<=50K
32557,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,>50K
32558,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,<=50K
32559,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,<=50K
32560,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,>50K

In [ ]:
#Mapping the data into numerical data using map function
#We replace every '<=50K' with value 0 and every '>50K' with value 1
df['salary'] = df['salary'].map({' <=50K': 0, ' >50K': 1}).astype(int)

#We are going to convert the other categorical data

#Sex
df['sex'] = df['sex'].map({' Male': 0, ' Female': 1}).astype(int)

#Race
df['race'] = df['race'].map({' White': 0,
                             ' Black': 1,
                            ' Asian-Pac-Islander': 2,
                            ' Amer-Indian-Eskimo': 3,
                            ' Other': 4}).astype(int)
#df["race"].value_counts()

#Relationship
df["relationship"] = df["relationship"].map({" Husband": 0,
                                             " Wife": 1,
                                             " Not-in-family": 2,
                                             " Own-child": 3,
                                             " Unmarried": 4,
                                             " Other-relative": 5}).astype(int)
#df["relationship"].value_counts()

#Occupation
df["occupation"] = df["occupation"].map({" Prof-specialty": 0,
                                         " Craft-repair": 1,
                                         " Exec-managerial": 2,
                                         " Adm-clerical": 3,
                                         " Sales": 4,
                                         " Machine-op-inspct": 5,
                                         " Transport-moving": 6,
                                         " Handlers-cleaners": 7,
                                         " Farming-fishing": 8,
                                         " Tech-support": 9,
                                         " Protective-serv": 10,
                                         " Priv-house-serv": 11,
                                         " Armed-Forces": 12,
                                         " Other-service": 13}).astype(int)
#df["occupation"].value_counts()

#Marital status
df["marital status"] = df["marital status"].map({" Married-civ-spouse": 0,
                                                 " Never-married": 1,
                                                 " Divorced": 2,
                                                 " Separated": 3,
                                                 " Widowed": 4,
                                                 " Married-spouse-absent": 5,
                                                 " Married-AF-spouse": 6}).astype(int)
#df["marital status"].value_counts()

#Education
df['education'] = df['education'].map({' Some-college': 0,
                                       ' Preschool': 1,
                                       ' 5th-6th': 2,
                                       ' HS-grad': 3,
                                       ' Masters': 4,
                                       ' 12th': 5,
                                       ' 7th-8th': 6,
                                       ' Prof-school': 7,
                                       ' 1st-4th': 8,
                                       ' Assoc-acdm': 9,
                                       ' Doctorate': 10,
                                       ' 11th': 11,
                                       ' Bachelors': 12,
                                       ' 10th': 13,
                                       ' Assoc-voc': 14,
                                       ' 9th': 15}).astype(int)
#df["education"].value_counts()

#Workclass
df['workclass'] = df['workclass'].map({' Self-emp-inc': 0,
                                       ' State-gov': 1,
                                       ' Federal-gov': 2,
                                       ' Without-pay': 3,
                                       ' Local-gov': 4,
                                       ' Private': 5,
                                       ' Self-emp-not-inc': 6}).astype(int)
#df["workclass"].value_counts()
#Result with modification
df